<template>
<div class="control-panel">
  <div class="button">
      <sui-button @click.native="open = !open">Add member</sui-button>
        <sui-modal v-model="open">   
            <sui-form>
                <sui-form-field>
                    <label>Name</label>
                    <input placeholder="Name" v-model="person.name">
                </sui-form-field>
                <sui-form-field>
                    <label>Job</label>
                    <input placeholder="Job" v-model="person.job">
                </sui-form-field>
                <sui-modal-actions>
                    <sui-button floated="right" type="submit" positive @click.native.prevent="confirm();">
                     OK
                    </sui-button>
                </sui-modal-actions>
            </sui-form>
        </sui-modal>
    </div>
    <div>
        <sui-button secondary @click.prevent="clearMembers">Clear source</sui-button>
    </div>
</div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
      name: 'AddButton',
      data() {
          return { 
            open: false,
            person: {
                job: '',
                name: '' 
            }
          }
      },
      methods: {
          ...mapActions(['addMember', 'clearMembers']),
          confirm() {
              this.addMember(this.person);
              this.open = !this.open;
              console.log('input')
              this.person = {
                job: '',
                name: '' 
            }
          },
      }
  }
</script>

<style scoped>

.ui.positive.button {
  margin: 21px;
}


div.ui.standart.modal.tramsotopm.visible.active {
  width: 500px !important;
}

form {
    margin: 21px;
    width: 200px;
}

.control-panel {
    display: flex;
}

</style>