<template>
  <div class="ui container">
    <h3 class="ui header">We are Fishtripr<a>S</a></h3>
  </div>

</template>

<script>
  export default {
      name: 'Header'

  }
</script>

<style scoped>

h3.ui.header {
    margin-top: 45px;
    font-size: 35px;
}

a {
    color: #56D2AB;
}

</style>