<template>
  <div>
      <h3>List of players</h3>
      <AddButton></AddButton>
      <hr>
      <div v-for="(fisher, i) in allFishers.data" :key="`fisher-${i}`">
          <p>{{fisher.name}}</p>
          <p>{{fisher.job}}</p>
      </div>
  </div>

</template>

<script>
import AddButton from './AddButton';
import { mapGetters } from 'vuex';

  export default {
      name: 'PersonnelList',
      computed: mapGetters(['allFishers']),
      components: {
          AddButton
      }
  }
</script>

<style scoped>

</style>